ADF/pipeline/Copy-SQL-Optim.json
{
	"name": "Copy-SQL-Optim",
	"properties": {
		"activities": [
			{
				"name": "Lok-Get Tables to Load",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "SELECT * FROM dbo.TEC_LoadTables"
					},
					"dataset": {
						"referenceName": "SQL_MappingTables",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "FE-Copy to SQL",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Lok-Get Tables to Load",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Lok-Get Tables to Load').output.Value",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Copy- to dbo",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [
								{
									"name": "Source",
									"value": ""
								},
								{
									"name": "Destination"
								}
							],
							"typeProperties": {
								"source": {
									"type": "ParquetSource",
									"storeSettings": {
										"type": "AzureBlobFSReadSettings",
										"recursive": true,
										"wildcardFileName": "*.parquet"
									}
								},
								"sink": {
									"type": "AzureSqlSink"
								},
								"enableStaging": false
							},
							"inputs": [
								{
									"referenceName": "ADLS",
									"type": "DatasetReference"
								}
							],
							"outputs": [
								{
									"referenceName": "SQDB",
									"type": "DatasetReference"
								}
							]
						}
					]
				}
			}
		],
		"folder": {
			"name": "SQL Transformation"
		},
		"annotations": []
	}
}