ADF/pipeline/Trv-SQL-Optim.json
{
	"name": "Trv-SQL-Optim",
	"properties": {
		"activities": [
			{
				"name": "Lok-Sp",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "SELECT Sp from dbo.TEC_LoadSp"
					},
					"dataset": {
						"referenceName": "Sql_Sp",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "FE-sp",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Lok-Sp",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Lok-Sp').output.Value",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "SP-Ex",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [
								{
									"name": "Sp",
									"value": "@{item().Sp}"
								}
							],
							"typeProperties": {
								"storedProcedureName": "Sp"
							},
							"linkedServiceName": {
								"referenceName": "SQLDB_Meetup",
								"type": "LinkedServiceReference"
							}
						}
					]
				}
			}
		],
		"folder": {
			"name": "SQL Transformation"
		},
		"annotations": []
	}
}