MeetupADF/PartialArmTemplates/ArmTemplate_9_22_2019_15_41_4.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory Name",
			"defaultValue": "MeetupADF"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/Copy-SQL')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Copy - Posts",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "ParquetSource",
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true,
									"wildcardFileName": "*.parquet"
								}
							},
							"sink": {
								"type": "AzureSqlSink",
								"preCopyScript": "TRUNCATE TABLE dbo.Posts",
								"disableMetricsCollection": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "_AcceptedAnswerId",
											"type": "Int64"
										},
										"sink": {
											"name": "AcceptedAnswerId",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "_AnswerCount",
											"type": "Int64"
										},
										"sink": {
											"name": "AnswerCount",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "_Body",
											"type": "String"
										},
										"sink": {
											"name": "Body",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "_ClosedDate",
											"type": "String"
										},
										"sink": {
											"name": "ClosedDate",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "_CommentCount",
											"type": "Int64"
										},
										"sink": {
											"name": "CommentCount",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "_CommunityOwnedDate",
											"type": "String"
										},
										"sink": {
											"name": "CommunityOwnedDate",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "_CreationDate",
											"type": "String"
										},
										"sink": {
											"name": "CreationDate",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "_FavoriteCount",
											"type": "Int64"
										},
										"sink": {
											"name": "FavoriteCount",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "_Id",
											"type": "Int64"
										},
										"sink": {
											"name": "Id",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "_LastActivityDate",
											"type": "String"
										},
										"sink": {
											"name": "LastActivityDate",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "_LastEditDate",
											"type": "String"
										},
										"sink": {
											"name": "LastEditDate",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "_LastEditorDisplayName",
											"type": "String"
										},
										"sink": {
											"name": "LastEditorDisplayName",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "_LastEditorUserId",
											"type": "Int64"
										},
										"sink": {
											"name": "LastEditorUserId",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "_OwnerDisplayName",
											"type": "String"
										},
										"sink": {
											"name": "OwnerDisplayName",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "_OwnerUserId",
											"type": "Int64"
										},
										"sink": {
											"name": "OwnerUserId",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "_ParentId",
											"type": "Int64"
										},
										"sink": {
											"name": "ParentId",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "_PostTypeId",
											"type": "Int64"
										},
										"sink": {
											"name": "PostTypeId",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "_Score",
											"type": "Int64"
										},
										"sink": {
											"name": "Score",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "_Tags",
											"type": "String"
										},
										"sink": {
											"name": "Tags",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "_Title",
											"type": "String"
										},
										"sink": {
											"name": "Title",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "_ViewCount",
											"type": "Int64"
										},
										"sink": {
											"name": "ViewCount",
											"type": "Int32"
										}
									}
								]
							}
						},
						"inputs": [
							{
								"referenceName": "ADLS_Posts",
								"type": "DatasetReference"
							}
						],
						"outputs": [
							{
								"referenceName": "SQLDB_Posts",
								"type": "DatasetReference"
							}
						]
					},
					{
						"name": "Copy - Comments",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "ParquetSource",
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true,
									"wildcardFileName": "*.parquet"
								}
							},
							"sink": {
								"type": "AzureSqlSink",
								"preCopyScript": "TRUNCATE TABLE dbo.Comments",
								"disableMetricsCollection": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "_CreationDate",
											"type": "String"
										},
										"sink": {
											"name": "CreationDate",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "_Id",
											"type": "Int64"
										},
										"sink": {
											"name": "Id",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "_PostId",
											"type": "Int64"
										},
										"sink": {
											"name": "PostId",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "_Score",
											"type": "Int64"
										},
										"sink": {
											"name": "Score",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "_Text",
											"type": "String"
										},
										"sink": {
											"name": "Text",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "_UserDisplayName",
											"type": "String"
										},
										"sink": {
											"name": "UserDisplayName",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "_UserId",
											"type": "Int64"
										},
										"sink": {
											"name": "UserId",
											"type": "Int32"
										}
									}
								]
							}
						},
						"inputs": [
							{
								"referenceName": "ADLS_Comments",
								"type": "DatasetReference"
							}
						],
						"outputs": [
							{
								"referenceName": "SQLDB_Comments",
								"type": "DatasetReference"
							}
						]
					},
					{
						"name": "Copy - PostsHistory",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "ParquetSource",
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true,
									"wildcardFileName": "*.parquet"
								}
							},
							"sink": {
								"type": "AzureSqlSink",
								"preCopyScript": "TRUNCATE TABLE dbo.PostsHistory",
								"disableMetricsCollection": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "_Comment",
											"type": "String"
										},
										"sink": {
											"name": "Comment",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "_CreationDate",
											"type": "String"
										},
										"sink": {
											"name": "CreationDate",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "_Id",
											"type": "Int64"
										},
										"sink": {
											"name": "Id",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "_PostHistoryTypeId",
											"type": "Int64"
										},
										"sink": {
											"name": "PostHistoryTypeId",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "_PostId",
											"type": "Int64"
										},
										"sink": {
											"name": "PostId",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "_RevisionGUID",
											"type": "String"
										},
										"sink": {
											"name": "RevisionGUID",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "_Text",
											"type": "String"
										},
										"sink": {
											"name": "Text",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "_UserDisplayName",
											"type": "String"
										},
										"sink": {
											"name": "UserDisplayName",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "_UserId",
											"type": "Int64"
										},
										"sink": {
											"name": "UserId",
											"type": "Int32"
										}
									}
								]
							}
						},
						"inputs": [
							{
								"referenceName": "ADLS_PostsHistory",
								"type": "DatasetReference"
							}
						],
						"outputs": [
							{
								"referenceName": "SQLDB_PostsHistory",
								"type": "DatasetReference"
							}
						]
					},
					{
						"name": "Copy - Tags",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "ParquetSource",
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true,
									"wildcardFileName": "*.parquet"
								}
							},
							"sink": {
								"type": "AzureSqlSink",
								"preCopyScript": "TRUNCATE TABLE dbo.Tags",
								"disableMetricsCollection": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "_Count",
											"type": "Int64"
										},
										"sink": {
											"name": "Count",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "_ExcerptPostId",
											"type": "Int64"
										},
										"sink": {
											"name": "ExcerptPostId",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "_Id",
											"type": "Int64"
										},
										"sink": {
											"name": "Id",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "_TagName",
											"type": "String"
										},
										"sink": {
											"name": "TagName",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "_WikiPostId",
											"type": "Int64"
										},
										"sink": {
											"name": "WikiPostId",
											"type": "Int32"
										}
									}
								]
							}
						},
						"inputs": [
							{
								"referenceName": "ADLS_Tags",
								"type": "DatasetReference"
							}
						],
						"outputs": [
							{
								"referenceName": "SQLDB_Tags",
								"type": "DatasetReference"
							}
						]
					},
					{
						"name": "Copy - Users",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "ParquetSource",
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true,
									"wildcardFileName": "*.parquet"
								}
							},
							"sink": {
								"type": "AzureSqlSink"
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "_AboutMe",
											"type": "String"
										},
										"sink": {
											"name": "AboutMe",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "_AccountId",
											"type": "Int64"
										},
										"sink": {
											"name": "AccountId",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "_CreationDate",
											"type": "String"
										},
										"sink": {
											"name": "CreationDate",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "_DisplayName",
											"type": "String"
										},
										"sink": {
											"name": "DisplayName",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "_DownVotes",
											"type": "Int64"
										},
										"sink": {
											"name": "DownVotes",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "_Id",
											"type": "Int64"
										},
										"sink": {
											"name": "Id",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "_LastAccessDate",
											"type": "String"
										},
										"sink": {
											"name": "LastAccessDate",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "_Location",
											"type": "String"
										},
										"sink": {
											"name": "Location",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "_ProfileImageUrl",
											"type": "String"
										},
										"sink": {
											"name": "ProfileImageUrl",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "_Reputation",
											"type": "Int64"
										},
										"sink": {
											"name": "Reputation",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "_UpVotes",
											"type": "Int64"
										},
										"sink": {
											"name": "UpVotes",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "_Views",
											"type": "Int64"
										},
										"sink": {
											"name": "Views",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "_WebsiteUrl",
											"type": "String"
										},
										"sink": {
											"name": "WebsiteUrl",
											"type": "String"
										}
									}
								]
							}
						},
						"inputs": [
							{
								"referenceName": "ADLS_Users",
								"type": "DatasetReference"
							}
						],
						"outputs": [
							{
								"referenceName": "SQLDB_Users",
								"type": "DatasetReference"
							}
						]
					},
					{
						"name": "Lok-Get Tables to Load",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderQuery": "SELECT * FROM dbo.TEC_LoadTables"
							},
							"dataset": {
								"referenceName": "SQL_MappingTables",
								"type": "DatasetReference"
							},
							"firstRowOnly": false
						}
					},
					{
						"name": "FE-Copy to SQL",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "Lok-Get Tables to Load",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('Lok-Get Tables to Load').output.Value",
								"type": "Expression"
							},
							"activities": [
								{
									"name": "Copy- to dbo",
									"type": "Copy",
									"dependsOn": [],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "ParquetSource",
											"storeSettings": {
												"type": "AzureBlobFSReadSettings",
												"recursive": true,
												"wildcardFileName": "*.parquet"
											}
										},
										"sink": {
											"type": "AzureSqlSink"
										},
										"enableStaging": false
									},
									"inputs": [
										{
											"referenceName": "ADLS",
											"type": "DatasetReference"
										}
									],
									"outputs": [
										{
											"referenceName": "SQDB",
											"type": "DatasetReference"
										}
									]
								}
							]
						}
					}
				],
				"folder": {
					"name": "SQL Transformation"
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/ADLS_Posts')]",
				"[concat(variables('factoryId'), '/datasets/SQLDB_Posts')]",
				"[concat(variables('factoryId'), '/datasets/ADLS_Comments')]",
				"[concat(variables('factoryId'), '/datasets/SQLDB_Comments')]",
				"[concat(variables('factoryId'), '/datasets/ADLS_PostsHistory')]",
				"[concat(variables('factoryId'), '/datasets/SQLDB_PostsHistory')]",
				"[concat(variables('factoryId'), '/datasets/ADLS_Tags')]",
				"[concat(variables('factoryId'), '/datasets/SQLDB_Tags')]",
				"[concat(variables('factoryId'), '/datasets/ADLS_Users')]",
				"[concat(variables('factoryId'), '/datasets/SQLDB_Users')]",
				"[concat(variables('factoryId'), '/datasets/SQL_MappingTables')]",
				"[concat(variables('factoryId'), '/datasets/ADLS')]",
				"[concat(variables('factoryId'), '/datasets/SQDB')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DimUser')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "LoadDimUser",
						"type": "ExecuteDataFlow",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "LoadDimUser",
								"type": "DataFlowReference"
							},
							"integrationRuntime": {
								"referenceName": "IRAzure",
								"type": "IntegrationRuntimeReference"
							}
						}
					},
					{
						"name": "NTBK - Users",
						"type": "DatabricksNotebook",
						"dependsOn": [
							{
								"activity": "DEL - User Files",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"notebookPath": "/Shared/Xml2ParquetSF",
							"baseParameters": {
								"FilePath": "/mnt/lake/Users.xml"
							}
						},
						"linkedServiceName": {
							"referenceName": "AZDBKS_Cluster",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "DEL - User Files",
						"type": "Delete",
						"dependsOn": [
							{
								"activity": "LoadDimUser",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataset": {
								"referenceName": "ADLS_Users",
								"type": "DatasetReference"
							},
							"enableLogging": false,
							"storeSettings": {
								"type": "AzureBlobFSReadSettings",
								"recursive": true
							}
						}
					}
				],
				"folder": {
					"name": "DATA FLOW Transformation"
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/dataflows/LoadDimUser')]",
				"[concat(variables('factoryId'), '/datasets/ADLS_Users')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DistinctHistoryPosts')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "DistinctHistoryPosts",
						"type": "ExecuteDataFlow",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "DistinctHistoryPosts",
								"type": "DataFlowReference"
							},
							"integrationRuntime": {
								"referenceName": "IRAzure",
								"type": "IntegrationRuntimeReference"
							}
						}
					}
				],
				"folder": {
					"name": "DATA FLOW Transformation"
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/dataflows/DistinctHistoryPosts')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Master - DF')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "EP - DimUser",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "DimUser",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true
						}
					},
					{
						"name": "EP - Distinct History Posts",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "DistinctHistoryPosts",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true
						}
					},
					{
						"name": "EP - PostsByTags",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "PostsByTags",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true
						}
					},
					{
						"name": "EP - Top100UpdatedPosts",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "PostsByTags",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true
						}
					}
				],
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/DimUser')]",
				"[concat(variables('factoryId'), '/pipelines/DistinctHistoryPosts')]",
				"[concat(variables('factoryId'), '/pipelines/PostsByTags')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/PostsByTags')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "PostsByTags",
						"type": "ExecuteDataFlow",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "PostsByTags",
								"type": "DataFlowReference"
							},
							"integrationRuntime": {
								"referenceName": "IRAzure",
								"type": "IntegrationRuntimeReference"
							}
						}
					}
				],
				"folder": {
					"name": "DATA FLOW Transformation"
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Top100UpdatedPosts')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Top100UpdatedPosts",
						"type": "ExecuteDataFlow",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "PostsByUsers",
								"type": "DataFlowReference"
							},
							"integrationRuntime": {
								"referenceName": "IRAzure",
								"type": "IntegrationRuntimeReference"
							}
						}
					}
				],
				"folder": {
					"name": "DATA FLOW Transformation"
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/ADLS')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ADLS",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "ADLS"
				},
				"annotations": [],
				"type": "Parquet",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"folderPath": "Users.parquet",
						"fileSystem": "meetup"
					},
					"compressionCodec": "snappy"
				},
				"schema": [
					{
						"name": "_AboutMe",
						"type": "UTF8"
					},
					{
						"name": "_AccountId",
						"type": "INT64"
					},
					{
						"name": "_CreationDate",
						"type": "UTF8"
					},
					{
						"name": "_DisplayName",
						"type": "UTF8"
					},
					{
						"name": "_DownVotes",
						"type": "INT64"
					},
					{
						"name": "_Id",
						"type": "INT64"
					},
					{
						"name": "_LastAccessDate",
						"type": "UTF8"
					},
					{
						"name": "_Location",
						"type": "UTF8"
					},
					{
						"name": "_ProfileImageUrl",
						"type": "UTF8"
					},
					{
						"name": "_Reputation",
						"type": "INT64"
					},
					{
						"name": "_UpVotes",
						"type": "INT64"
					},
					{
						"name": "_Views",
						"type": "INT64"
					},
					{
						"name": "_WebsiteUrl",
						"type": "UTF8"
					}
				]
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/ADLS_Comments')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ADLS",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "ADLS/OLD"
				},
				"annotations": [],
				"type": "Parquet",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"folderPath": "Comments.parquet",
						"fileSystem": "meetup"
					},
					"compressionCodec": "snappy"
				},
				"schema": [
					{
						"name": "_CreationDate",
						"type": "UTF8"
					},
					{
						"name": "_Id",
						"type": "INT64"
					},
					{
						"name": "_PostId",
						"type": "INT64"
					},
					{
						"name": "_Score",
						"type": "INT64"
					},
					{
						"name": "_Text",
						"type": "UTF8"
					},
					{
						"name": "_UserDisplayName",
						"type": "UTF8"
					},
					{
						"name": "_UserId",
						"type": "INT64"
					}
				]
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/ADLS_Posts')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ADLS",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "ADLS/OLD"
				},
				"annotations": [],
				"type": "Parquet",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"folderPath": "Posts.parquet",
						"fileSystem": "meetup"
					},
					"compressionCodec": "snappy"
				},
				"schema": [
					{
						"name": "_AcceptedAnswerId",
						"type": "INT64"
					},
					{
						"name": "_AnswerCount",
						"type": "INT64"
					},
					{
						"name": "_Body",
						"type": "UTF8"
					},
					{
						"name": "_ClosedDate",
						"type": "UTF8"
					},
					{
						"name": "_CommentCount",
						"type": "INT64"
					},
					{
						"name": "_CommunityOwnedDate",
						"type": "UTF8"
					},
					{
						"name": "_CreationDate",
						"type": "UTF8"
					},
					{
						"name": "_FavoriteCount",
						"type": "INT64"
					},
					{
						"name": "_Id",
						"type": "INT64"
					},
					{
						"name": "_LastActivityDate",
						"type": "UTF8"
					},
					{
						"name": "_LastEditDate",
						"type": "UTF8"
					},
					{
						"name": "_LastEditorDisplayName",
						"type": "UTF8"
					},
					{
						"name": "_LastEditorUserId",
						"type": "INT64"
					},
					{
						"name": "_OwnerDisplayName",
						"type": "UTF8"
					},
					{
						"name": "_OwnerUserId",
						"type": "INT64"
					},
					{
						"name": "_ParentId",
						"type": "INT64"
					},
					{
						"name": "_PostTypeId",
						"type": "INT64"
					},
					{
						"name": "_Score",
						"type": "INT64"
					},
					{
						"name": "_Tags",
						"type": "UTF8"
					},
					{
						"name": "_Title",
						"type": "UTF8"
					},
					{
						"name": "_ViewCount",
						"type": "INT64"
					}
				]
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/ADLS_PostsHistory')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ADLS",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "ADLS/OLD"
				},
				"annotations": [],
				"type": "Parquet",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"folderPath": "PostHistory.parquet",
						"fileSystem": "meetup"
					},
					"compressionCodec": "snappy"
				},
				"schema": [
					{
						"name": "_Comment",
						"type": "UTF8"
					},
					{
						"name": "_CreationDate",
						"type": "UTF8"
					},
					{
						"name": "_Id",
						"type": "INT64"
					},
					{
						"name": "_PostHistoryTypeId",
						"type": "INT64"
					},
					{
						"name": "_PostId",
						"type": "INT64"
					},
					{
						"name": "_RevisionGUID",
						"type": "UTF8"
					},
					{
						"name": "_Text",
						"type": "UTF8"
					},
					{
						"name": "_UserDisplayName",
						"type": "UTF8"
					},
					{
						"name": "_UserId",
						"type": "INT64"
					}
				]
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/ADLS_Tags')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ADLS",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "ADLS/OLD"
				},
				"annotations": [],
				"type": "Parquet",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"folderPath": "Tags.parquet",
						"fileSystem": "meetup"
					},
					"compressionCodec": "snappy"
				},
				"schema": [
					{
						"name": "_Count",
						"type": "INT64"
					},
					{
						"name": "_ExcerptPostId",
						"type": "INT64"
					},
					{
						"name": "_Id",
						"type": "INT64"
					},
					{
						"name": "_TagName",
						"type": "UTF8"
					},
					{
						"name": "_WikiPostId",
						"type": "INT64"
					}
				]
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/ADLS_Users')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ADLS",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "ADLS/OLD"
				},
				"annotations": [],
				"type": "Parquet",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"folderPath": "Users.parquet",
						"fileSystem": "meetup"
					},
					"compressionCodec": "snappy"
				},
				"schema": [
					{
						"name": "_AboutMe",
						"type": "UTF8"
					},
					{
						"name": "_AccountId",
						"type": "INT64"
					},
					{
						"name": "_CreationDate",
						"type": "UTF8"
					},
					{
						"name": "_DisplayName",
						"type": "UTF8"
					},
					{
						"name": "_DownVotes",
						"type": "INT64"
					},
					{
						"name": "_Id",
						"type": "INT64"
					},
					{
						"name": "_LastAccessDate",
						"type": "UTF8"
					},
					{
						"name": "_Location",
						"type": "UTF8"
					},
					{
						"name": "_ProfileImageUrl",
						"type": "UTF8"
					},
					{
						"name": "_Reputation",
						"type": "INT64"
					},
					{
						"name": "_UpVotes",
						"type": "INT64"
					},
					{
						"name": "_Views",
						"type": "INT64"
					},
					{
						"name": "_WebsiteUrl",
						"type": "UTF8"
					}
				]
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/SQDB')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "SQLDB_Meetup",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "SQL"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "AcceptedAnswerId",
						"type": "int",
						"precision": 10
					},
					{
						"name": "AnswerCount",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Body",
						"type": "nvarchar"
					},
					{
						"name": "ClosedDate",
						"type": "nvarchar"
					},
					{
						"name": "CommentCount",
						"type": "int",
						"precision": 10
					},
					{
						"name": "CommunityOwnedDate",
						"type": "nvarchar"
					},
					{
						"name": "CreationDate",
						"type": "nvarchar"
					},
					{
						"name": "FavoriteCount",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Id",
						"type": "int",
						"precision": 10
					},
					{
						"name": "LastActivityDate",
						"type": "nvarchar"
					},
					{
						"name": "LastEditDate",
						"type": "nvarchar"
					},
					{
						"name": "LastEditorDisplayName",
						"type": "nvarchar"
					},
					{
						"name": "LastEditorUserId",
						"type": "int",
						"precision": 10
					},
					{
						"name": "OwnerDisplayName",
						"type": "nvarchar"
					},
					{
						"name": "OwnerUserId",
						"type": "int",
						"precision": 10
					},
					{
						"name": "ParentId",
						"type": "int",
						"precision": 10
					},
					{
						"name": "PostTypeId",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Score",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Tags",
						"type": "nvarchar"
					},
					{
						"name": "Title",
						"type": "nvarchar"
					},
					{
						"name": "ViewCount",
						"type": "int",
						"precision": 10
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "Posts"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/SQDB_DimUser')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "SQLDB_Meetup",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "DMT"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "UserId",
						"type": "int",
						"precision": 10
					},
					{
						"name": "UserSk",
						"type": "int",
						"precision": 10
					},
					{
						"name": "AccountId",
						"type": "int",
						"precision": 10
					},
					{
						"name": "DisplayName",
						"type": "varchar"
					},
					{
						"name": "Location",
						"type": "varchar"
					},
					{
						"name": "StartDate",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "EndDate",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					}
				],
				"typeProperties": {
					"schema": "dmt",
					"table": "DimUser"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/SQDB_HistoryDinstinctPost')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "SQLDB_Meetup",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "SQL"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [],
				"typeProperties": {
					"schema": "dbo",
					"table": "HistoryDinstinctPost"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/SQDB_PostsByTags')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "SQLDB_Meetup",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "SQL"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [],
				"typeProperties": {
					"schema": "dbo",
					"table": "PostsByTags"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/SQDB_Top100UpdatedPosts')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "SQLDB_Meetup",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "SQL"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [],
				"typeProperties": {
					"schema": "dbo",
					"table": "Top100UpdatedPosts"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/SQLDB_Comments')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "SQLDB_Meetup",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "SQL/OLD"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "IdComment",
						"type": "int",
						"precision": 10
					},
					{
						"name": "PostId",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Score",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Text",
						"type": "nvarchar"
					},
					{
						"name": "UserDisplayName",
						"type": "nvarchar"
					},
					{
						"name": "UserId",
						"type": "int",
						"precision": 10
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "Comments"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/SQLDB_Posts')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "SQLDB_Meetup",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "SQL/OLD"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "AcceptedAnswerId",
						"type": "int",
						"precision": 10
					},
					{
						"name": "AnswerCount",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Body",
						"type": "nvarchar"
					},
					{
						"name": "ClosedDate",
						"type": "nvarchar"
					},
					{
						"name": "CommentCount",
						"type": "int",
						"precision": 10
					},
					{
						"name": "CommunityOwnedDate",
						"type": "nvarchar"
					},
					{
						"name": "CreationDate",
						"type": "nvarchar"
					},
					{
						"name": "FavoriteCount",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Id",
						"type": "int",
						"precision": 10
					},
					{
						"name": "LastActivityDate",
						"type": "nvarchar"
					},
					{
						"name": "LastEditDate",
						"type": "nvarchar"
					},
					{
						"name": "LastEditorDisplayName",
						"type": "nvarchar"
					},
					{
						"name": "LastEditorUserId",
						"type": "int",
						"precision": 10
					},
					{
						"name": "OwnerDisplayName",
						"type": "nvarchar"
					},
					{
						"name": "OwnerUserId",
						"type": "int",
						"precision": 10
					},
					{
						"name": "ParentId",
						"type": "int",
						"precision": 10
					},
					{
						"name": "PostTypeId",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Score",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Tags",
						"type": "nvarchar"
					},
					{
						"name": "Title",
						"type": "nvarchar"
					},
					{
						"name": "ViewCount",
						"type": "int",
						"precision": 10
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "Posts"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/SQLDB_PostsHistory')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "SQLDB_Meetup",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "SQL/OLD"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "Comment",
						"type": "nvarchar"
					},
					{
						"name": "CreationDate",
						"type": "nvarchar"
					},
					{
						"name": "Id",
						"type": "int",
						"precision": 10
					},
					{
						"name": "PostHistoryTypeId",
						"type": "int",
						"precision": 10
					},
					{
						"name": "PostId",
						"type": "int",
						"precision": 10
					},
					{
						"name": "RevisionGUID",
						"type": "nvarchar"
					},
					{
						"name": "Text",
						"type": "nvarchar"
					},
					{
						"name": "UserDisplayName",
						"type": "nvarchar"
					},
					{
						"name": "UserId",
						"type": "int",
						"precision": 10
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "PostsHistory"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/SQLDB_Tags')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "SQLDB_Meetup",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "SQL/OLD"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "Count",
						"type": "int",
						"precision": 10
					},
					{
						"name": "ExcerptPostId",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Id",
						"type": "int",
						"precision": 10
					},
					{
						"name": "TagName",
						"type": "nvarchar"
					},
					{
						"name": "WikiPostId",
						"type": "int",
						"precision": 10
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "Tags"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/SQLDB_Users')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "SQLDB_Meetup",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "SQL/OLD"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "AboutMe",
						"type": "nvarchar"
					},
					{
						"name": "AccountId",
						"type": "int",
						"precision": 10
					},
					{
						"name": "CreationDate",
						"type": "nvarchar"
					},
					{
						"name": "DisplayName",
						"type": "nvarchar"
					},
					{
						"name": "DownVotes",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Id",
						"type": "int",
						"precision": 10
					},
					{
						"name": "LastAccessDate",
						"type": "nvarchar"
					},
					{
						"name": "Location",
						"type": "nvarchar"
					},
					{
						"name": "ProfileImageUrl",
						"type": "nvarchar"
					},
					{
						"name": "Reputation",
						"type": "int",
						"precision": 10
					},
					{
						"name": "UpVotes",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Views",
						"type": "int",
						"precision": 10
					},
					{
						"name": "WebsiteUrl",
						"type": "nvarchar"
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "Users"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/SQL_MappingTables')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "SQLDB_Meetup",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "SQL"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "Id",
						"type": "int",
						"precision": 10
					},
					{
						"name": "SourceTable",
						"type": "nvarchar"
					},
					{
						"name": "DestinationTable",
						"type": "nvarchar"
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "TEC_LoadTables"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/DistinctHistoryPosts')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"dataset": {
								"referenceName": "ADLS_PostsHistory",
								"type": "DatasetReference"
							},
							"name": "SrcPostHistory"
						},
						{
							"dataset": {
								"referenceName": "ADLS_Posts",
								"type": "DatasetReference"
							},
							"name": "SrcPost"
						}
					],
					"sinks": [
						{
							"dataset": {
								"referenceName": "SQDB_HistoryDinstinctPost",
								"type": "DatasetReference"
							},
							"name": "DestHistoryDinstinctPost"
						}
					],
					"transformations": [
						{
							"name": "Distinct"
						},
						{
							"name": "Sort1"
						},
						{
							"name": "Exists1"
						},
						{
							"name": "Select"
						},
						{
							"name": "Select2"
						}
					],
					"script": "\n\nsource(output(\n\t\t{_Comment} as string,\n\t\t{_CreationDate} as string,\n\t\t{_Id} as long,\n\t\t{_PostHistoryTypeId} as long,\n\t\t{_PostId} as long,\n\t\t{_RevisionGUID} as string,\n\t\t{_Text} as string,\n\t\t{_UserDisplayName} as string,\n\t\t{_UserId} as long\n\t),\n\tallowSchemaDrift: true,\n\tvalidateSchema: false,\n\tinferDriftedColumnTypes: true) ~> SrcPostHistory\nsource(output(\n\t\t{_AcceptedAnswerId} as long,\n\t\t{_AnswerCount} as long,\n\t\t{_Body} as string,\n\t\t{_ClosedDate} as string,\n\t\t{_CommentCount} as long,\n\t\t{_CommunityOwnedDate} as string,\n\t\t{_CreationDate} as string,\n\t\t{_FavoriteCount} as long,\n\t\t{_Id} as long,\n\t\t{_LastActivityDate} as string,\n\t\t{_LastEditDate} as string,\n\t\t{_LastEditorDisplayName} as string,\n\t\t{_LastEditorUserId} as long,\n\t\t{_OwnerDisplayName} as string,\n\t\t{_OwnerUserId} as long,\n\t\t{_ParentId} as long,\n\t\t{_PostTypeId} as long,\n\t\t{_Score} as long,\n\t\t{_Tags} as string,\n\t\t{_Title} as string,\n\t\t{_ViewCount} as long\n\t),\n\tallowSchemaDrift: true,\n\tvalidateSchema: false,\n\tinferDriftedColumnTypes: true) ~> SrcPost\nSort1 aggregate(groupBy(PostHId),\n\teach(match(name!='PostHId'), $$ = toString(first($$)))) ~> Distinct\nSelect2 sort(desc(CreationDate, true)) ~> Sort1\nDistinct, Select exists(PostHId == PostId && Text == PostContent,\n\tnegate:true,\n\tbroadcast: 'none')~> Exists1\nSrcPost select(mapColumn(\n\t\tPostId = {_Id},\n\t\tPostContent = {_Body}\n\t)) ~> Select\nSrcPostHistory select(mapColumn(\n\t\tPostHistoryId = {_Id},\n\t\tPostHId = {_PostId},\n\t\tRevisionGUID = {_RevisionGUID},\n\t\tText = {_Text},\n\t\tUserDisplayName = {_UserDisplayName},\n\t\tCreationDate = {_CreationDate}\n\t)) ~> Select2\nExists1 sink(allowSchemaDrift: true,\n\tvalidateSchema: false,\n\tformat: 'table',\n\tdeletable:false,\n\tinsertable:true,\n\tupdateable:false,\n\tupsertable:false) ~> DestHistoryDinstinctPost"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/SQDB_HistoryDinstinctPost')]",
				"[concat(variables('factoryId'), '/datasets/ADLS_PostsHistory')]",
				"[concat(variables('factoryId'), '/datasets/ADLS_Posts')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/LoadDimUser')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"dataset": {
								"referenceName": "ADLS_Users",
								"type": "DatasetReference"
							},
							"name": "SrcUsers"
						},
						{
							"dataset": {
								"referenceName": "SQDB_DimUser",
								"type": "DatasetReference"
							},
							"name": "SrcDimUser"
						}
					],
					"sinks": [
						{
							"dataset": {
								"referenceName": "SQDB_DimUser",
								"type": "DatasetReference"
							},
							"name": "DestUpdateOldRows"
						},
						{
							"dataset": {
								"referenceName": "SQDB_DimUser",
								"type": "DatasetReference"
							},
							"name": "DestUpsert"
						},
						{
							"dataset": {
								"referenceName": "SQDB_DimUser",
								"type": "DatasetReference"
							},
							"name": "DestNewHistoricalRow"
						}
					],
					"transformations": [
						{
							"name": "JoinDimUser"
						},
						{
							"name": "FilterOnlyLastRow"
						},
						{
							"name": "CsRows"
						},
						{
							"name": "DrvDateCols"
						},
						{
							"name": "AlterUpdateOldRow"
						},
						{
							"name": "AlterUpsert"
						},
						{
							"name": "SelectCleaningName"
						}
					],
					"script": "\n\nsource(output(\n\t\t{_AboutMe} as string,\n\t\t{_AccountId} as long,\n\t\t{_CreationDate} as string,\n\t\t{_DisplayName} as string,\n\t\t{_DownVotes} as long,\n\t\t{_Id} as long,\n\t\t{_LastAccessDate} as string,\n\t\t{_Location} as string,\n\t\t{_ProfileImageUrl} as string,\n\t\t{_Reputation} as long,\n\t\t{_UpVotes} as long,\n\t\t{_Views} as long,\n\t\t{_WebsiteUrl} as string\n\t),\n\tallowSchemaDrift: true,\n\tvalidateSchema: false) ~> SrcUsers\nsource(output(\n\t\tUserId as integer,\n\t\tUserSk as integer,\n\t\tAccountId as integer,\n\t\tDisplayName as string,\n\t\tLocation as string,\n\t\tStartDate as timestamp,\n\t\tEndDate as timestamp\n\t),\n\tallowSchemaDrift: true,\n\tvalidateSchema: false,\n\tinferDriftedColumnTypes: true,\n\tisolationLevel: 'READ_UNCOMMITTED',\n\tformat: 'table') ~> SrcDimUser\nSelectCleaningName, FilterOnlyLastRow join(Source_UserId == UserSk,\n\tjoinType:'left',\n\tbroadcast: 'none')~> JoinDimUser\nSrcDimUser filter(isNull(EndDate)) ~> FilterOnlyLastRow\nDrvDateCols split(!isNull(UserId) && Source_Location != Location,\n\tdisjoint: false) ~> CsRows@(SCD2Location, Upsert)\nJoinDimUser derive(NewStartDate = currentUTC(),\n\t\tNewEndDate = currentUTC()) ~> DrvDateCols\nCsRows@SCD2Location alterRow(updateIf(true())) ~> AlterUpdateOldRow\nCsRows@Upsert alterRow(upsertIf(true())) ~> AlterUpsert\nSrcUsers select(mapColumn(\n\t\tSource_AboutMe = {_AboutMe},\n\t\tSource_AccountId = {_AccountId},\n\t\tSource_CreationDate = {_CreationDate},\n\t\tSource_DisplayName = {_DisplayName},\n\t\tSource_UserId = {_Id},\n\t\tSource_Location = {_Location}\n\t)) ~> SelectCleaningName\nAlterUpdateOldRow sink(input(\n\t\tUserId as integer,\n\t\tUserSk as integer,\n\t\tAccountId as integer,\n\t\tDisplayName as string,\n\t\tLocation as string,\n\t\tStartDate as timestamp,\n\t\tEndDate as timestamp\n\t),\n\tallowSchemaDrift: true,\n\tvalidateSchema: false,\n\tformat: 'table',\n\tdeletable:false,\n\tinsertable:false,\n\tupdateable:true,\n\tupsertable:false,\n\tkeys:['UserId'],\n\tmapColumn(\n\t\tUserId,\n\t\tEndDate = NewEndDate\n\t)) ~> DestUpdateOldRows\nAlterUpsert sink(input(\n\t\tUserId as integer,\n\t\tUserSk as integer,\n\t\tAccountId as integer,\n\t\tDisplayName as string,\n\t\tLocation as string,\n\t\tStartDate as timestamp,\n\t\tEndDate as timestamp\n\t),\n\tallowSchemaDrift: true,\n\tvalidateSchema: false,\n\tformat: 'table',\n\tdeletable:false,\n\tinsertable:false,\n\tupdateable:false,\n\tupsertable:true,\n\tkeys:['UserSk'],\n\tmapColumn(\n\t\tUserSk = Source_UserId,\n\t\tAccountId = Source_AccountId,\n\t\tDisplayName = Source_DisplayName,\n\t\tLocation = Source_Location,\n\t\tStartDate = NewStartDate\n\t)) ~> DestUpsert\nCsRows@SCD2Location sink(input(\n\t\tUserId as integer,\n\t\tUserSk as integer,\n\t\tAccountId as integer,\n\t\tDisplayName as string,\n\t\tLocation as string,\n\t\tStartDate as timestamp,\n\t\tEndDate as timestamp\n\t),\n\tallowSchemaDrift: true,\n\tvalidateSchema: false,\n\tformat: 'table',\n\tdeletable:false,\n\tinsertable:true,\n\tupdateable:false,\n\tupsertable:false,\n\tmapColumn(\n\t\tUserSk = Source_UserId,\n\t\tAccountId = Source_AccountId,\n\t\tDisplayName = Source_DisplayName,\n\t\tLocation = Source_Location,\n\t\tStartDate = NewStartDate\n\t)) ~> DestNewHistoricalRow"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/SQDB_DimUser')]",
				"[concat(variables('factoryId'), '/datasets/ADLS_Users')]"
			]
		}
	]
}