DBT/DataFactory/pipeline/Ingest - Data.json
{
	"name": "Ingest - Data",
	"properties": {
		"activities": [
			{
				"name": "LOOK - Get Tables",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.00:05:00",
					"retry": 1,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "SELECT \n[Schema] = OBJECT_SCHEMA_NAME(object_id)\n,[Table] = name\nFROM sys.tables\nWHERE OBJECT_SCHEMA_NAME(object_id) = 'SalesLT'",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "SQL_AdventureWorks",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "FOR - Extract Data",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "LOOK - Get Tables",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('LOOK - Get Tables').output.value",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "COPY - Data to Databricks SQL",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.00:15:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "AzureSqlSource",
									"sqlReaderQuery": {
										"value": "SELECT * FROM @{item().Schema}.@{item().Table}",
										"type": "Expression"
									},
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"sink": {
									"type": "AzureDatabricksDeltaLakeSink",
									"preCopyScript": {
										"value": "TRUNCATE TABLE adventureworks.@{toLower(item().Table)}",
										"type": "Expression"
									},
									"importSettings": {
										"type": "AzureDatabricksDeltaLakeImportCommand"
									}
								},
								"enableStaging": true,
								"stagingSettings": {
									"linkedServiceName": {
										"referenceName": "ADLS_Demo_AK",
										"type": "LinkedServiceReference"
									},
									"path": "data/temp"
								}
							},
							"inputs": [
								{
									"referenceName": "SQL_AdventureWorks",
									"type": "DatasetReference"
								}
							],
							"outputs": [
								{
									"referenceName": "DBKS_DeltaLakeTable",
									"type": "DatasetReference",
									"parameters": {
										"Database": "adventureworks",
										"Table": {
											"value": "@toLower(item().Table)",
											"type": "Expression"
										}
									}
								}
							]
						}
					]
				}
			}
		],
		"annotations": []
	}
}